body {
  background-color: #3a4750;
  color: rgb(238, 238, 238);
  color: rgba(238, 238, 238, 0.8);
}

.container {
  padding: 0 7%;
}

.center {
  left: 50%;
  margin-top: -40px;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.comment-box {
  background-color: #303841;
  border-radius: 15px;
  padding: 25px 35px;
  margin-top: 40px;
}

.user-details {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.detail {
  padding-left: 30px;
}

.content-display {
  background-color: #eeeeee;
  border-radius: 6px;
  color: #495057;
  margin-bottom: 20px;
  margin-top: 20px;
  min-height: 10rem;
  padding: 0.8rem 1.2rem
}

.comment-text-marg {
  margin-bottom: 30px;
}

.input-bgc {
  background-color: #eeeeee;
}

.btn {
  margin-top: 20px;
}
